/* ========== HEADER ========== */
/* LOGOTIPO */
.menu nav img{
    width: 220px;
}
/* MENU */
.menu ul li{
    font-size: 18px;
    
}
.colorIcon{
    color: #fff;
}

/* ========== PUNTOS DE QUIEBRE ========== */

/* Escritorio Grande (LG lo revisamos en 1366px en adelante) */
@media (min-width: 1200px) {

}
/* Escritorio Mediano (MD lo revisamose en 1024px) */
@media (max-width: 1199.98px) and (min-width: 992px) {

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 991.98px) and (min-width: 768px) {

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .menu nav img{
        width: 150px;
    }
    .menu ul li{
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        
    }
} 