/* =========== GLOBAL ========== */

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
ul, ol{
    padding: 0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

.barraSuperior{
    background: #212529;
}
.barraSuperior a{
    color: white;
}
.backColor, .backColor a, .backColor i{
    background: #0DCAF0;
    color: white;
}
/* .backColor, .backColor a, .backColor i{
    background: #DC3545;
    color: white;
} */

/* =========== REDES SOCIALES ========== */

.redSocial{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 3px;
    border-radius: 5px;
}

/* FACEBOOK */
.facebookBlanco{
    color: white;
}
.facebookNegro{
    color: black;
}
.facebookColor{
    color: white;
    background: #46639f;
}

/* INSTAGRAM */
.instagramBlanco{
    color: white;
}
.instagramNegro{
    color: black;
}
.instagramColor{
    color: white;
    background: linear-gradient(45deg, #fca925, #ee1d5f, #6350a2);
}

/* TWITTER */
.twittermBlanco{
    color: white;
}
.twitterNegro{
    color: black;
}
.twitterColor{
    color: white;
    background: #0ab2e6;
}

/* YOUTUBE */
.youtubeBlanco{
    color: white;
}
.youtubeNegro{
    color: black;
}
.youtubeColor{
    color: white;
    background: #d6513e;
}

/* ========== ERROR 404 ========= */
.error404{
    color: #333;
}
.error404 h1{
    margin-top: 20px;
}

/* ========== PUNTOS DE QUIEBRE ========== */


/* Escritorio Grande (LG lo revisamos en 1366px en adelante) */
@media (min-width: 1200px) {
    .error404 h1{
        font-size: 300px;
        text-shadow: 8px 8px 1px #dadada;
    }
}
/* Escritorio Mediano (MD lo revisamose en 1024px) */
@media (max-width: 1199.98px) and (min-width: 992px) {
    .error404 h1{
        font-size: 250px;
        text-shadow: 8px 8px 1px #dadada;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 991.98px) and (min-width: 768px) {
    .error404 h1{
        font-size: 150px;
        text-shadow: 8px 8px 1px #dadada;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .error404 h1{
        font-size: 100px;
        text-shadow: 8px 8px 1px #dadada;
    }
    .error404 h2{
        font-size: 20px;
    }
} 